@import url("../../node_modules/bootstrap/dist/css/bootstrap.css");

.myBG {
    height: 100vh;
    background: url("../assets/bg/PixelDevilBridge.png") fixed;
    background-size: cover;
    background-position: -20px -100px;
}

.intro{
    height: 40%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.welcome {
    font-size: 3rem;
    font-weight: 800;
    line-height: 1;
    text-shadow: 2px 2px 3px #0000006c;
    letter-spacing: 3px;
}
.showcase {
    height: 1080px;
    font-family: "Noto Sans Japanese", sans-serif;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background-color: #2b1055;
    background: url("/src/assets/bg/bg.png") 
    center top/calc(260px / 4) fixed;
}



.card {
    width: 18rem;
    max-height: 600px;
}

.containers {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.cardContainers {
    display: grid;
    row-gap: 3.5rem;

}

.cardArticles {
    position: relative;
    overflow: hidden;
}

.cardImg {
    width: 200px;
    border-radius: 1.5rem;
}

.cardData {
    width: 280px;
    background-color: #fff;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px #0000005e;
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}

.cardDesc {
    display: block;
    font-size: 11px;
    margin-bottom: .25rem;
}

.cardTitle {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-bottom: .75rem;
}

.cardLink {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.cardLink:hover {
    text-decoration: underline;
    color: #2b1055;
}

.cardArticles:hover .cardData {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.cardArticles:hover {
    animation: remove-overflow 2s forwards;
}

.cardArticles:not(:hover) {
    animation: remove-data 2s forwards;
}
.cardArticles:not(:hover) .cardData{
    animation: show-overflow 1s forwards;
}

@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}

@keyframes show-overflow{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes remove-data{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

@media screen and (max-width: 340px) {
    .containers {
      margin-inline: 1rem;
    }
  
    .cardData {
      width: 250px;
      padding: 1rem;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 768px) {
    .cardContainers {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.5rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1120px) {
    .containers {
      height: 100vh;
    }
  
    .cardContainers {
      grid-template-columns: repeat(3, 1fr);
    }
    .cardImg {
      width: 348px;
    }
    .cardData {
      width: 316px;
      padding-inline: 2.5rem;
    }
  }